<div class="step-header">

  <table>

    <tr>

      <td class="completed"><a>Basic Information</a></td>
      <td><a>Tank Information</a></td>
      <td><a>Requested Services</a></td>

    </tr>

  </table>

</div>