<div class="content">

	<%= render 'service_requests/step_header' %>

	<div class="form-container">

		<%# form_for(@service_request) do |f| %>

		<%= form_tag update_contact_information_path do %>

		  <div class="field">
		    <label>Email</label><br>
		    <%# f.email_field :email, required: true %>
		    <%= email_field_tag(:email) %>
		  </div>
		  <div class="field">
		    <label>Full Name</label><br>
		    <%# f.email_field :email, required: true %>
		    <%= text_field_tag(:full_name) %>
		  </div>

		  <div class="actions">
		    <input type="Submit" value="Get Quotes" class="button green-background medium">
		  </div>

		<% end %>


	</div>



</div>
