<div class="content">

	<%= render 'service_requests/step_header' %>

	<div class="form-container">

		<%# form_for(@service_request) do |f| %>

		<%= form_tag update_contact_information_path do %>

		  <div class="field">

		    <label>Full Name</label><br>
		    
		    <input type="text" name="full_name" required>

		  </div>

		  <div class="field">

		    <label>Email</label><br>
		 
		    <input type="email" name="email" required>

		  </div>


		  <div class="field">
		    
		    <label>Phone Number</label><br>

		    <input type="text" name="phone_number" required>

		  </div>

		  <div class="actions">

		    <input type="Submit" value="Get My Quotes" class="button orange-background medium">

		  </div>

		<% end %>


	</div>



</div>
