<div class="content">

	<%= render 'service_requests/step_header' %>

	<div class="form-container">

		<h2>Sorry!</h2>
		<br>
		<h3>We don't have any instant quotes for your area. We will email within 24 hours with quotes.</h3>

	</div>



</div>
