<div class="content">

	<%= render 'service_requests/step_header' %>

	<div class="form-container">

		<%= form_tag update_requested_services_path do %>

			<a>Setup/Installation</a>

			<a>Cleaning/Maintenance</a>

			<a>Design/Consultation</a>

			<a>Relocation</a>

		<%end%>



	</div>



</div>
