<div class="content">

	<%= render 'service_requests/step_header' %>

	<div class="form-container centered">

		<%= form_tag update_tank_details_path do %>

			<div class="field">
		    	
		    	<label>Gallons in Your Tank</label><br>
		    	<input type="number" name="gallons_in_tank" class="short centered" required autofocus>
		
		  	</div>

			<div class="field">
				<label>Is it a salt water tank?</label><br>
				<ul class="horizontal">
					<li><a>Yes</a></li>
					<li><a>No</a></li>
				</ul>
				<%# f.check_box :salt_water %>
			</div>

		  <div class="actions">

		    <input type="submit" value="Next" class="button green-background medium" %>

		  </div>


		<%end%>


	</div>



</div>
