
<section class="home-hero centered">

	<%= form_for(@service_request) do |f| %>

		<h2>Get Instant Quotes from Local Service Providers</h4>

		<h3>Enter Your Zip Code Below to Get Started</h5>

		<br>

	  	<div class="field centered">

	    	<%= f.number_field :zip_code, required: true, autofocus: true, placeholder: "Zip Code", class: "short centered" %>

	  	</div>

	  	<br>

		<div class="actions centered">

			<input type="submit" value="Get Started" class="button orange-background medium" %>

		</div>

	<%end%>

</section>

<section>

	<div class="readable-content">

		<h1 class="centered">Aquarium Services</h1>

		<p></p>
		
	</div>

</section>
