
<div class="content">

	<section class="home-hero">

		<%= form_for(@service_request) do |f| %>

		  	<div class="field centered">

		    	<%= f.number_field :zip_code, required: true, autofocus: true, class: "short centered" %>

		  	</div>

			<div class="actions centered">

				<input type="submit" value="Next" class="button orange-background medium" %>

			</div>

		<%end%>

	</section>

	<section>

		<h4></h4>

	</section>

	
</div>