// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.step-header{
	max-width: 100%;
	padding: 1em;
	margin: 0 auto;
	width: 800px;
	margin-bottom: 3em;

	table{

		width: 100%;

		tr{

			width:100%;

			td{
				text-align: center;
				width: 33.3%;
				padding: 1em 2em;
				border: 1px solid #96b5e1;
				background: #fff;
				font-weight: bold;
    			color: #264d85;
    			position: relative;
			}

			td:before{
				border-left-color: #ddd;
    			margin-left: 1px;
    			z-index: 1;


			}

			td:after{
				border-left-color: #fff;
			}

			td:before, td:after{
				position: absolute;
			    top: 0px;
			    right: auto;
			    bottom: 0px;
			    left: 100%;
			    border-bottom: 1.5em solid transparent;
			    border-left: 0.75em solid transparent;
			    border-top: 1.5em solid transparent;
			    content: "";
			    margin: auto;
			    z-index: 2;
			}

			td.completed{
				border: 1px solid #99d3a9;
    			background-color: #e0f2e5;
    			color: #52b46d;
			}

			td.completed:before{
				border-left-color: #99d3a9;
			}

			td.completed:after{
				border-left-color: #e0f2e5;
			}
		
		}
	
	}

}